<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title >Title</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="HomeView.html :: navigation"></div>
<div class="editPost_container">
    <h2>Edit Comment</h2>
    <form id="editPost_form" action="#" th:action="@{/posts/{postId}/comments/{commentId}/update(postId=${postId}, commentId=${commentId})}"
          th:object="${newComment}" method="post">
        <div class="form_row">
            <label for="content">Content</label>
            <textarea name="content" id="content" th:field="*{content}"></textarea>
            <label class="error" th:errors="*{content}">Content must be between 32 and 8192 symbols</label>
        </div>
        <input class="button--lightOrange" type="submit" value="Save" id="createPost_btn">
    </form>
</div>
<script src="../static/dropdown.js" th:src="@{/dropdown.js}"></script>
</body>
</html>