<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="HomeView.html :: navigation"></div>
<div class="main_container">
    <h1 class="main_title">All active users</h1>
    <div class="usersFilter_toolbar">
        <form id="filter_form" class="firstRowInner_container" action="#" th:action="@{/users}" th:object="${filterUserDto}" method="get">
            <div>
                <span class="selectSort_label">Sort By:</span>
                <select th:field="*{sortBy}" class="button--orange toolbar_button" name="" id="sort">
                    <option value="">Sort By</option>
                    <option value="username">Username</option>
                    <option value="firstName">First Name</option>
                    <option value="lastName">Last Name</option>
                    <option value="email">Email</option>
                </select>
                <select th:field="*{sortOrder}" class="button--orange toolbar_button" name="">
                    <option value="">Sort Order</option>
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
                <span class="selectSort_label">Filter By:</span>
                <input id="title" class="filter_input" type="text" placeholder="Username" th:field="*{username}"/>
                <button class="button--orange toolbar_button">Apply</button>
            </div>
        </form>
    </div>
    <div  class="grid">
        <div th:each="user: ${users}" class="grid_item">
            <div class="user_details">
                <a href="#" th:href="@{/users/{id}(id=${user.getId()})}" class="userDetails_username"
                   th:text="${user.getUsername()}">
                    username
                </a>
                <span th:text="${user.getFirstName()} + ' ' + ${user.getLastName()} "></span>
            </div>
        </div>
    </div>
</div>
<script src="../static/users.js" th:src="@{/users.js}"></script>
<script src="../static/dropdown.js" th:src="@{/dropdown.js}"></script>
</body>
</html>